option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
  
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 20
    ProxyServer: nginx
  
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /assets: public/assets

  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2

  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSize: 30
    BatchSizeType: Percentage